 Dashboard Styles  
  .gap-4 {
    gap: 1rem;
  }
  
  .p-6 {
    padding: 1.5rem;
    /* background: radial-gradient(circle at center, #014179, #01192e); */
    /* margin-top: 45px; */
  }
  

  .text-2xl {
    font-size: 2rem;
  }
  
  .font-bold {
    font-weight: bold;
    
  }
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }

  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem; 
    margin: 0 auto;


  }
  
  .dashboard-container {
    flex-basis: calc(33.333% - 1rem); 
    /* background-color: #e0e0e0; */
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  .dashboard-item{
    flex-basis: calc(25% - 1rem); 
    /* background-color: #e0e0e0; */
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
  };
  .grid::after {
    content: "";
    flex: auto;
  }


  
